<!DOCTYPE html>
<html lang="en">


<%- include("../partials/head.ejs") %>

    <body>
        <%- include("../partials/headerAdmi.ejs") %>
            <div class="comments-container">
                <div class="box-coments">
                    <div class="head-comments">
                        <img src="/img/avatar1.jpg" id="usuario">
                        <h5 class="usuarios-comments">Adrián ha publicado un comentario.</h5>
                        <h5 class="usuarios-comments">28 de Agosto de 2022 a las 19:40.</h5>
                    </div>
                    <article class="article-comments">
                        <p class="commment">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt.</p>
                    </article>
                </div>
                <div class="box-coments">
                    <div class="head-comments">
                        <img src="/img/avatar2.jpg" id="usuario">
                        <h5 class="usuarios-comments">Maria ha publicado un comentario.</h5>
                        <h5 class="usuarios-comments">28 de Agosto de 2022 a las 19:40.</h5>
                    </div>
                    <article class="article-comments">
                        <p class="commment">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt.</p>
                    </article>
                </div>
                <div class="box-coments">
                    <div class="head-comments">
                        <img src="/img/avatar2.jpg" id="usuario">
                        <h5 class="usuarios-comments">Maria ha publicado un comentario.</h5>
                        <h5 class="usuarios-comments">28 de Agosto de 2022 a las 19:40.</h5>
                    </div>
                    <article class="article-comments">
                        <p class="commment">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt.</p>
                    </article>
                </div>
                <div class="box-coments">
                    <div class="head-comments">
                        <img src="/img/avatar1.jpg" id="usuario">
                        <h5 class="usuarios-comments">Maria ha publicado un comentario.</h5>
                        <h5 class="usuarios-comments">28 de Agosto de 2022 a las 19:40.</h5>
                    </div>
                    <article class="article-comments">
                        <p class="commment">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt.</p>
                    </article>
                </div>
                </li>
            </div>

            </div>
            </div>
            <script> hamburger = document.querySelector(".hamburger");
                hamburger.addEventListener("click", function () {
                    document.querySelector("body").classList.toggle("active");
                })</script>
    </body>

</html>