<footer class="footer">
    <article class="footer-accesos">
        <h1 class="footer-titulo">Accesos</h1>
        <ul class="footer-ul">
            <div class="footer-contenedor-li">
                <li class="footer-li"><a href="/">Inicio</a></li>
                <li class="footer-li"><a href="/contact">Contacto</a></li>
            </div>
            <div class="footer-contenedor-li">
                <li class="footer-li"><a href="/nosotros">Nosotros</a></li>
                <li class="footer-li"><a href="/product/products">Destinos</a></li>
            </div>
        </ul>
    </article>

    <article class="footer-redes">
        <h1 class="footer-redes-titulo">Nuestras Redes</h1>
        <div class="footer-contenedor-icono">
            <a href="https://www.facebook.com/">
                <i class="fab fa-facebook footer-icono"></i>
            </a>
            <a href="https://www.instagram.com/">
                <i class="fab fa-instagram footer-icono"></i>
            </a>
            <a href="https://www.linkedin.com/">
                <i class="fab fa-linkedin-in footer-icono"></i>
            </a>
        </div>
    </article>

    <article class="footer-info">
        <h1 class="footer-info-titulo">Informacion</h1>
        <p class="footer-info-parrafo">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Saepe dolor beatae sapiente. Culpa porro totam, provident dolore eum nihil? Voluptates,
            quasi fuga est repudiandae saepe a laborum nostrum. Dignissimos, optio!</p>
    </article>

</footer>