<footer class="footer">
    <div class="contenedor-whatsapp">
        <a href="/contact"><i class="fab fa-whatsapp whatsapp"></i></a></i>
    </div>
    <article class="footer-info">
        <p class="footer-info-parrafo">Copyright© 2023 - Turismo de Bienestar</p>
    </article>

</footer>


