<header class="header">
    <img class="header-logo" src="/img/logoViajeros.png" alt="">

    <div class="header-rigth">
        <nav class="header-nav">
            <ul>
                <li>
                    <a href="/">Inicio</a>
                </li>
                <li>
                    <a href="/contact">Contacto</a>
                </li>
                <li>
                    <a href="/cart">Carrito</a>
                </li>
                <li>
                    <a href="/login">Login</a>
                </li>
                <li>
                    <a href="/register">Registrarse</a>
                </li>
                <li>
                    <a href="/administrador">Administrador</a>
                </li>
                <li>
                    <a href="/product/products">Destinos</a>
                </li>
            </ul>
        </nav>


        <h1 class="header-titulo">Viajeros</h1>
        <p class="header-parrafo">Somos una empresa que opera en el mercado turístico hace más de 10 años. 
            Nos especializamos en SALIDAS GRUPALES ACOMPAÑADAS tanto a destinos nacionales como internacionales,
            con SERVICIO TODO INCLUIDO</p>
    </div>

</header>