<header class="page-header">
    <nav>

        <div class="wrapper">
            <div class="section">
                <div class="top_navbar">
                    <div class="hamburger">
                        <a href="#">
                            <i class="fas fa-bars"></i>
                        </a>
                    </div>
                </div>

            </div>
            <div class="sidebar">
                <div class="profile">
                    <img src="https://1.bp.blogspot.com/-vhmWFWO2r8U/YLjr2A57toI/AAAAAAAACO4/0GBonlEZPmAiQW4uvkCTm5LvlJVd_-l_wCNcBGAsYHQ/s16000/team-1-2.jpg"
                        alt="profile_picture">
                    <h3 class="dashboard">Bienvenido administrador</h3>
                </div>
                <ul class="menu">
                    <li class="item"><a href='/adminList'>Listado de Destinos</a></li>
                    <li class="item"><a href='/userList'>Listado de Usuarios</a></li>
                    <li class="item"><a href='/create'>Agregar Destinos</a></li>
                    <li class="item"><a href='/comentarios'>Comentarios</a></li>
                    <li class="item"><a href="/">Inicio</a></a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>