<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head.ejs") %>

    <body>
        <%- include("../partials/header.ejs") %>
        
        <main>
            <section class="buscador">
                <%- include('../partials/search.ejs') %>
                    
            </section>
            <section class="nosotros">
                <div class= "nosotros-text">
                    <h1 class="nosotros-titulo"><span>QUIENES</span>  SOMOS</h1>

                    <div class="nosotros-contenedor">
                       
                        <p class="nosotros-parrafo">Somos una empresa que opera en el mercado turístico hace más de 10 años. Nos especializamos en SALIDAS GRUPALES ACOMPAÑADAS tanto a destinos nacionales como internacionales, con SERVICIO TODO INCLUIDO</p>
                    </div>
                    <div class="nosotros-contenedor">
                       
                        <p class="nosotros-parrafo">¿Qué productos o servicios brindamos?

                            Ofrecemos en nuestros paquetes turísticos el alojamiento para los viajeros. Dentro de este servicio podemos encontrar hoteles, posadas, albergues y casas compartidas.
                            
                           Solemos programar los traslados hacia el aeropuerto o desde las terminales hacia el hotel. Además del pasaje aéreo las agencias de viajes estamos capacitados para conseguir otros medios de transporte ya sea marítimo, ferroviario o terrestre.
                            
                         
                           Muchas veces el turista no está del todo familiarizado con el destino que visita, por lo tanto se vuelve imprescindible contar con información referente a los traslados dentro de él. Es por esto que incluimos los traslados dentro de la ciudad como por ejemplo entre el hotel y el aeropuerto.
                           Nuestra trayectoria nos confiere solidez, garantía y confiabilidad, además de experiencia y conocimientos que resultan de los miles de kilómetros que llevamos acumulados. Contamos con un staff de profesionales que realizan su labor con dedicación y compromiso. Nuestra premisa es la de brindar atención personalizada; calidad en el servicio; cumplimiento y, sobre todo, seguridad y bienestar de los pasajeros. Buscamos satisfacer las necesidades y superar las expectativas de quienes depositan su confianza en nosotros.
                           
                        </p>
                     </div>
                        <br>
                        <div class="nosotros-contenedor">
                         <p class="nosotros-parrafo">Nuestras actividades tienen como objetivo desconectar con el estrés diario y las obligaciones, estaremos en contacto con el medio ambiente, disfrutando de la naturaleza, en armonía con nuestro cuerpo y lo que nos rodea gracias a las actividades de meditación, yoga y tai-chi Le damos principal importancia a su salud y su dieta, en nuestros menús encontrará, comidas orgánicas, batidos o platos vegetarianos. Y Si desea disfrutar de ésta maravillosa experiencia en compañia podrá acceder a paquetes exclusivos, con descuentos preferenciales.</p>
                       
                        </div>
                    

                    <div class="nosotros-contenedor-btn">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/eD_5Id4GciE?start=2" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </section>
        </main>

        <div class="contenedor-whatsapp">
            <a href="/contact"><i class="fab fa-whatsapp whatsapp"></i></a></i>
        </div>


        <%- include("../partials/footer.ejs")%>
        <script src="/js/hamburguesa.js"></script>
    </body>

</html>